In [97]:
import pandas as pd
from category_encoders import TargetEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder

In [98]:
data_path = "./data/lot51_cleaned.csv"
df = pd.read_csv(data_path)
df.head(5)

,name,price,brand,item_condition,shipping,located_in,return_policy,category,money_back,seller_item_sold,trending,price_boxcox,price_log
0,Mens Jogging Bottoms Elasticated Trouser Jogge...,14.48,Crazy Girl Ltd,New with tags,1.0,United Kingdom,1,"Clothing, Shoes & Accessories/Men/Men's Clothi...",1,203000.0,1,3.447473,2.739549
1,Men's 100% Cotton Big Polka Dot Design Spread...,29.19,George/Fortino Landi,New with tags,1.0,United States,1,"Clothing, Shoes & Accessories/Men/Men's Clothi...",1,49000.0,1,4.667444,3.407511
2,G-Unit Style heavy weigh Tank Top Square Cut ...,15.89,Basix,New with tags,1.0,United States,1,"Clothing, Shoes & Accessories/Men/Men's Clothi...",1,207000.0,1,3.600318,2.826722
3,Men's Fashion Oxford Faux Leather Dress Shoes...,33.23,Milano Moda & Alberto Fellini,New with box,1.0,United States,1,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",1,49000.0,1,4.910672,3.533102
4,Women's Cute Caged Peep Toe Low High Platform ...,15.81,Top Moda,New without box,1.0,United States,1,"Clothing, Shoes & Accessories/Women/Women's Sh...",1,326000.0,0,3.591949,2.821974

In [99]:
df.shape

(31170, 13)

In [100]:
# from sklearn.feature_extraction.text import CountVectorizer


# # Initialize CountVectorizer with 2-gram and limit to 2000 features
# vectorizer = CountVectorizer(ngram_range=(3, 3), max_features=2000)

# # Apply CountVectorizer to 'name' column
# X = vectorizer.fit_transform(df['name'])

# # Create a DataFrame from the sparse matrix
# df_bow = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

# # Join the original DataFrame with the BoW DataFrame
# df = pd.concat([df, df_bow], axis=1)

# # Drop the 'name' column
# df = df.drop(columns='name')

# df.head()

In [101]:
# from sklearn.feature_extraction.text import CountVectorizer


# # Initialize CountVectorizer with 2-gram and limit to 2000 features
# vectorizer = CountVectorizer(ngram_range=(3, 3), max_features=100)

# # Apply CountVectorizer to 'name' column
# X = vectorizer.fit_transform(df['category'])

# # Create a DataFrame from the sparse matrix
# df_bow = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

# # Join the original DataFrame with the BoW DataFrame
# df = pd.concat([df, df_bow], axis=1)

# # Drop the 'name' column
# df = df.drop(columns='category')

# df.head()

In [102]:
# from scipy import cluster
# from sklearn.preprocessing import StandardScaler
# from sklearn.cluster import DBSCAN
# from sklearn.cluster import AgglomerativeClustering


# tfid = TfidfVectorizer(stop_words='english')
# tfidf_matrix = tfid.fit_transform(df['name'])

# from sklearn.decomposition import LatentDirichletAllocation

# lda = LatentDirichletAllocation(n_components=10, random_state=42)
# X_lda = lda.fit_transform(tfidf_matrix)

# X_lda.shape

# agg_clustering_lda = AgglomerativeClustering(n_clusters=25)
# agg_clusters_lda = agg_clustering_lda.fit_predict(X_lda)

# num_clusters_lda = len(set(agg_clusters_lda))

# df['name'] = agg_clusters_lda

# print(num_clusters_ld)

# df.head()

In [103]:
from scipy import cluster
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN
from sklearn.cluster import AgglomerativeClustering


tfid = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfid.fit_transform(df['name'])

from sklearn.decomposition import TruncatedSVD

lsa = TruncatedSVD(n_components=100)
X_lsa = lsa.fit_transform(tfidf_matrix)

explained_variance = lsa.explained_variance_ratio_.sum()

X_lsa.shape, explained_variance
agg_clustering_lsa = AgglomerativeClustering(n_clusters=10)
agg_clusters_lsa = agg_clustering_lsa.fit_predict(X_lsa)

num_clusters_lsa = len(set(agg_clusters_lsa))

df['name'] = agg_clusters_lsa
print(num_clusters_lsa)

df.head()

50

,name,price,brand,item_condition,shipping,located_in,return_policy,category,money_back,seller_item_sold,trending,price_boxcox,price_log
0,11,14.48,Crazy Girl Ltd,New with tags,1.0,United Kingdom,1,"Clothing, Shoes & Accessories/Men/Men's Clothi...",1,203000.0,1,3.447473,2.739549
1,42,29.19,George/Fortino Landi,New with tags,1.0,United States,1,"Clothing, Shoes & Accessories/Men/Men's Clothi...",1,49000.0,1,4.667444,3.407511
2,0,15.89,Basix,New with tags,1.0,United States,1,"Clothing, Shoes & Accessories/Men/Men's Clothi...",1,207000.0,1,3.600318,2.826722
3,0,33.23,Milano Moda & Alberto Fellini,New with box,1.0,United States,1,"Clothing, Shoes & Accessories/Men/Men's Shoes/...",1,49000.0,1,4.910672,3.533102
4,29,15.81,Top Moda,New without box,1.0,United States,1,"Clothing, Shoes & Accessories/Women/Women's Sh...",1,326000.0,0,3.591949,2.821974

#### Dealing with Category

In [104]:
label_encoder = LabelEncoder()
df['category'] = label_encoder.fit_transform(df['category'])
df.head()

,name,price,brand,item_condition,shipping,located_in,return_policy,category,money_back,seller_item_sold,trending,price_boxcox,price_log
0,11,14.48,Crazy Girl Ltd,New with tags,1.0,United Kingdom,1,26,1,203000.0,1,3.447473,2.739549
1,42,29.19,George/Fortino Landi,New with tags,1.0,United States,1,73,1,49000.0,1,4.667444,3.407511
2,0,15.89,Basix,New with tags,1.0,United States,1,86,1,207000.0,1,3.600318,2.826722
3,0,33.23,Milano Moda & Alberto Fellini,New with box,1.0,United States,1,187,1,49000.0,1,4.910672,3.533102
4,29,15.81,Top Moda,New without box,1.0,United States,1,395,1,326000.0,0,3.591949,2.821974

### Target Encoder for item_condition

In [105]:
encoder = TargetEncoder()

encoder.fit(df['item_condition'], df['price_log'])
df['item_condition'] = encoder.transform(df['item_condition'])

encoder.fit(df['brand'], df['price_log'])
df['brand'] = encoder.transform(df['brand'])

encoder.fit(df['located_in'], df['price_log'])
df['located_in'] = encoder.transform(df['located_in'])

# df.head()

In [106]:
df.dtypes

name                  int64
price               float64
brand               float64
item_condition      float64
shipping            float64
located_in          float64
return_policy         int64
category              int64
money_back            int64
seller_item_sold    float64
trending              int64
price_boxcox        float64
price_log           float64
dtype: object

In [107]:
df.to_csv("./data/lot51_vectorized.csv", index=False)